.App{
  background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(https://i.ibb.co/Lgq3MRT/home.png);
  background-size: cover;
  height: 593px;
  width: 100%;
  height: 100%;
  position: absolute;
}